


.get{
   
   
    &__container{
        min-width: rem(320);
        flex-direction: column;
        @include flex-center;
        margin: 0 auto;
       
    
    }
    
    &__title{
        text-align: center;
        padding: 0 rem(47);
        font-family: 'Monserrat', sans-serif;
        font-size: rem(32);
        line-height: rem(38);
        font-weight: 700;
        color: $primary-violet;
        margin-bottom: rem(-20);
        margin-top: rem(95);
        
    }
    &__title::after{
        content: '>';
       color: $primary-violet;
    }
    &__title::before{
        content: '<';
        color: $primary-violet;
    }
    &__list{
        text-align: center;
       width: rem(277);
       padding: 0;
    }
    &__item{
        margin-top: rem(36);
    }
    
    &__img--onright{
       margin-left: rem(25);
    }

    &__item-title{
        font-family: 'Monserrat', sans-serif;
        font-size: rem(16);
        font-weight: 400;
        line-height: rem(16);
        color: $accent-grey;
       
    }
    
    &__item-text{
        font-family: 'Lato', sans-serif;
        font-size: rem(14);
        font-weight: 400;
        line-height: rem(21);
        color: $light-grey;
        
    }
    &__screen-shot{
       margin: rem(50) 0 rem(6) auto;  
    }
    &__img-screen{
        width: rem(317);
        height: rem(381);
    }
    }
    
    
    @media (min-width: 481px) {
        .get{
            &__title{
                font-size: rem(42);
                line-height: rem(44);
            }
            &__list{
                display: block;
                width: rem(700);

            }
            &__item{
               display: flex;
               justify-content:space-around;
               align-items: center;
               
            }

            &__item-text-box{
               
                text-align: justify;
                width: rem(500);
                
            }
            &__img--onright{
                margin-right: 0;
             }
            &__img-box{
                 width: rem(114);
                text-align: center;
                justify-content: center;
                align-items: center;
            }
            &__img-screen{
                
                width: rem(650);
                height: rem(519);
            }
        }
    }

    @media (min-width: 993px){
        
        .get{
            
        &__content-box{
           
              display: block;
              margin-top: rem(70);
              padding-top: rem(65); 
        }   
        &__container{
            display: flex;
            flex-direction: row;
           justify-content: space-between;
        
       
        }
       
        &__title{
            font-size: rem(48);
            line-height: rem(50);
            position: absolute;
            margin-top: rem(10);
            left: 51%;
          
           
         
        }
        
        &__item{
            display: flex;
            justify-content:space-around;
            align-items: center;
           
            
         }
        
        &__item-text-box{
               
            text-align: justify;
           
            
        }
        &__img-screen{
                
            width: rem(650);
            height: rem(519);
            
            margin-left: rem(30);
        }
   
        
    
}}

@media (min-width: 993px){
    .get{
    background: #F4F4F4;
     
        }
    }
    @media (min-width: 1200px){
        .get{
           
            @include flex-center;
            margin: 0 auto;
            
        }   
    }