.header{
    background-image: url("../img/header-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header__container{
    margin: 0 auto;
}

.header__menu{
    font-family: Montserrat;
    font-weight: 700;
    line-height: 1rem;
}

.header__body{
    @include flex-center;
    padding: 0 10px;
    padding: rem(30) 0 rem(30) 0;
    margin-bottom: rem(84);

    @media screen and (max-width: 481px) {
        height: rem(103);
        margin-bottom: rem(50);
    }
    @media screen and (max-width: 992px) {
        background: #27262A;
        height: rem(118);
        padding: 0 10px;
        margin-bottom: rem(69);
    }
}

.header__logo {
    color: $primary-violet;
    display: flex;
    align-items: center;
    column-gap: 17px;
    margin-right: rem(312);
    max-width: rem(160);
    .logo__img{
        width: rem(43); 
        height: rem(41);
    }
    .logo__img--hover{
        width: rem(43); 
        height: rem(41);
        display: none;
    }
    &:hover .logo__img {
        display: none;
    }
    &:hover .logo__img--hover {
        display: block;
    }

    @media screen and (max-width: 992px) {
        position: absolute;
        left: 20px;
        top: 28px;
    }

    
}
.logo__text{
    font-family: Lato;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1rem;
    @media screen and (max-width: 481px) {
        display: none;
    }
}

.header__logo:hover{
    color: $white;
}

.header__list{
    @include flex-center;
    flex-wrap: nowrap;
    column-gap: rem(47);
    padding: 0;

    @media screen and (max-width: 481px) {
       display: none;
    }

    @media screen and (max-width: 992px) {
        position: relative;
        top: 30px;
    }
    
}

.header__link{
    color: $primary-violet;
    white-space: nowrap;

}
.header__link:hover{
    color: $white;
}
.header__button {
    margin-left: rem(47);
    @include button;
    width: rem(145);
    height: rem(37);
    font-weight: 700;
    line-height: rem(17);
    

    @media screen and (max-width: 481px) {
        
    }
 
    @media screen and (max-width: 992px) {
        position: absolute;
        top: 24px;
        right: 20px;
    }

}
.header__button:hover{
    @include buttonHover;
}
.header__desc{
    @include flex-center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;

    @media screen and (max-width: 481px) {
        max-width: rem(299);
    }
 
    @media screen and (max-width: 992px) {
        max-width: rem(600);
        
    }
}
.header__title{
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: rem(82);
    line-height: rem(82);
    color: #fff;
    padding-bottom: 19px;
    margin: 0;

    @media screen and (max-width: 481px) {
        font-size: rem(48);
        line-height: rem(48);
    }
 
    @media screen and (max-width: 992px) {
        font-size: rem(72);
        line-height: rem(72);
        
    }
}
.header__text{
    font-family: 'Lato-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: rem(30);
    line-height: rem(30);
    color: $primary-violet;
    padding-bottom: rem(19);
    @media screen and (max-width: 481px) {
        font-size: rem(18);
        line-height: rem(24);
    }
 
    @media screen and (max-width: 992px) {
        font-size: rem(24);
        line-height: rem(24);
        
    }
}
.header__info{
    font-family: $fontMont;
    font-weight: 400;
    font-style: normal;
    color: $light-grey;
    padding-bottom: rem(459);
    text-transform: uppercase;

    @media screen and (max-width: 481px) {
        font-size: rem(14);
        line-height: rem(14);
    }
 
    @media screen and (max-width: 992px) {
        font-size: rem(14);
        line-height: rem(14);
        padding-bottom: rem(462);
    }
}

.download{
    @include flex-center;
    flex-direction: column;
    position: relative;
    top: 48px;
    font-family: Montserrat-Regular, sans-serif;
    .download__button{
        @include button;
        width: rem(390);
        height: rem(62);
        font-weight: 700;
        font-size: rem(21);
        line-height: rem(21);
        margin-bottom: rem(18);
        
        @media screen and (max-width: 481px) {
            width: rem(290);
            height: rem(45);
            font-size: rem(18);
            line-height: rem(20);
        }
    }
    .download__button:hover{
        @include buttonHover;
        border: 2px solid $primary-violet;
    }
    .download__text{
        color: $light-grey;
        font-weight: 400;
        font-size: rem(14);
        line-height: rem(15);
    
    }

}