@function rem($px) {
    $result: math.div($px, 16) + rem;
    @return $result;
}

@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin button{
    font-family: 'Montserrat', sans-serif;
    background-color: $primary-violet;
    color: $white;
    border: none;
    border-radius: rem(40);
}
@mixin buttonHover{
    background-color: $white;
    border: 1px solid $primary-violet;
    color: $primary-violet;
}