.people{
    background-image: url("../img/reviews_section/talking_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #4B3B4E;
    @media screen and (max-width: 320px) {
        min-width: rem(320);
    }
    @media screen and (max-width: 481px) {
        background-image: url("../img/reviews_section/talking_bg(480).png");
    }

    &__container {
        margin: 0 auto;
        padding: 0 rem(10);
        @media screen and (max-width: 320px) {
            max-width: rem(320);
        }
        @media screen and (min-width: 481px) and (max-width: 992px) {
            max-width: rem(768);
        }
    }

    &__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: rem(48);
        line-height: rem(50);
        padding-top: rem(109);
        padding-bottom: rem(82);
        text-align: center;
        color: $white;
        
        @media screen and (max-width: 481px) {
            font-size: rem(36);
            line-height: rem(48);
            padding-top: rem(57);
            padding-bottom: rem(53);
        }
        @media screen and (min-width: 481px) and (max-width: 992px) {
            font-size: rem(42);
            line-height: rem(44);
        }
    }

    &__cards {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        @media screen and (max-width: 481px) {
            grid-template-columns: 1fr;
        }
        @media screen and (min-width: 481px) and (max-width: 992px) {
            grid-template-columns: repeat(2,1fr);
        }
        }
    
    &__card {
        @include flex-center;
        margin: 0 auto;
        flex-direction: column;
        max-width: rem(315);
        height: rem(142);
        text-align: center;
        margin-bottom: rem(116);

        @media screen and (max-width: 481px) {
            margin-bottom: rem(58);
        }
        @media screen and (min-width: 481px) and (max-width: 992px) {
            margin-bottom: rem(45);
        }

        .card__pic--smash{
            margin-bottom: rem(25);
        }
        .card__pic--drops{
            margin-bottom: rem(18);
        }
        .card__pic--w{
            margin-bottom: rem(5);
            @media screen and (min-width: 481px) and (max-width: 992px) {
                margin-bottom: rem(22);
            }
        }
        .card__pic--budha{
            margin-bottom: rem(33);
            @media screen and (min-width: 481px) and (max-width: 992px) {
                margin-top: rem(29);
            }
        }
        .card__pic--creative{
            margin-bottom: rem(22);
        }
        .card__pic--tnw{
            margin-bottom: rem(24);
        }
        
        .card__desc{
            font-family: 'Lato', sans-serif;
            font-style: italic;
            font-weight: 700;
            font-size: rem(16);
            line-height: rem(24);
            color: $white;
        }       
    }

    &__footer {
        max-width: rem(887);
        margin: 0 auto;
        padding-bottom: rem(26);
        
        @media screen and (max-width: 481px) {
            padding-top: rem(37);
            max-width: rem(251);
        }
        
        @media screen and (min-width: 481px) and (max-width: 992px) {
            padding-top: rem(69);
            max-width: rem(704);
        }

        .footer__desc{
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: rem(14);
            line-height: rem(21);
            color: #A291A5;
            text-align: center;
        }

        .footer__line {
            max-width: rem(780);
            height: rem(2);
            background: #645766;
            margin-top: rem(18.5);
            margin-bottom: 0;
            border: none;
            @media screen and (max-width: 481px) {
                max-width: rem(245);
            }
            @media screen and (min-width: 481px) and (max-width: 992px) {
                max-width: rem(555);
            }
        }      
    }
}