

.pricing{
    background-image: url("../img/layer-bg_2_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: rem(14);
    padding-bottom: rem(100);
    min-width: rem(320);
}
.pricing{

&__container{
    font-family: 'Montserrat';
    font-style: normal;
    max-width: rem(1200);
    flex-direction: column;
    @include flex-center;
    margin: 0 auto;
    text-align: center;
    padding: 0 rem(10);

}
&__title{
   
font-size: rem(28);
font-weight: 700;
line-height: rem(42);
color: $white;
margin: rem(10) auto 0 auto;

}
&__list{
    margin: 0;
    padding: 0;
    
}
&__item{
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    width: rem(257); 
    height: rem(460); 
   

    background: rgba(255, 255, 255, 0.11);
    margin-top: rem(18);
}

&__item--active{
    background: rgba(70, 48, 72, 0.84);
    width: rem(299); 
    height: rem(560);
   
 

}
&__item-link-box{
    background: rgba(255, 255, 255, 0.06);
    width: rem(256); 
    height: rem(97); 
   
   
    @include flex-center;
    text-transform: uppercase;
}
&__item-link-box--active{
    background: rgba(0, 0, 0, 0.11);
    height: rem(111);
    width: rem(299);
    
}

&__link{
    
font-size: rem(24);
font-weight: 400;
line-height: rem(24);
color: $white;

}

&__item-content{
   
    display: flex;
    flex-direction: column;
   
    justify-content:space-between;
    align-items:center;
    
    padding: rem(20) rem(23) rem(0) rem(23); 
   
}

&__item-content--active{
    
    padding: rem(14) rem(54) rem(0) rem(54);
}
&__item-price{
    
font-size: rem(60);
font-weight: 700;
line-height: rem(90);
color: $white;

}
&__currency{
    font-size: rem(60);
font-weight: 400;
line-height: rem(90);
color: $white;
}

&__item-price--active{
    font-size: rem(82);
font-weight: 700;
line-height: rem(90);
margin-bottom: rem(16);
}

&__currency--active{
    font-size: rem(82);
    font-weight: 400;
    line-height: rem(90);
}

&__item-month{
    
font-size: rem(14);
font-weight: 400;
line-height: rem(16);
color: #fff;
text-transform: uppercase;
}

&__item-divide{
    background-color: $primary-violet;
    border: none;
    width: rem(60);
    height: rem(5);
    margin-top: rem(38);
    margin-bottom: rem(30);
}

&__item-divide--active{
    margin-top: rem(46);
    margin-bottom: rem(40);
}
&__item-license{
font-size: rem(16);
font-weight: 400;
line-height: rem(28);
color: $white;
height: rem(32);
margin-bottom: rem(37);

}
&__item-btn{
    
font-size: rem(15);
font-weight: 400;
line-height: rem(15);
color: $white;
background-color: rgba(255, 255, 255, 0.15);
width: rem(163);
height: rem(45);
border-radius: rem(50);
border: none;
text-transform: uppercase;
margin-top: rem(20);
}

&__item-btn--active{
    width: rem(190);
    height: rem(52);
    margin-top: rem(55);
}
}

@media (min-width: 481px){
    .pricing{
        padding-bottom: rem(150);
        &__container{
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }
        &__title{
            font-size: rem(42);
            line-height: rem(44);
            margin-bottom: rem(39);
            margin-top: rem(98);  
        }
        
    }
}
@media (min-width: 590px){
    .pricing{
    &__list{
        display: flex;
        flex-wrap: wrap;
    }
    &__item{
       margin-right: 0;
       margin-left: rem(25);

    }
    &__item--active{
       margin-left: rem(-16);
    }
    &__item--center{
        margin-top: rem(60);
        
    }
}
}

@media (min-width: 993px){
    .pricing{

        &__title{
            font-size: rem(48);
            line-height: rem(50);
            margin-bottom: rem(112);
            margin-top: rem(112);  
        }
        &__list{
            display: flex;
            flex-wrap: wrap;
            width: auto;
            gap: rem(15);
            align-items: center;
          
    
  
        }
        &__item{
           margin-right: 0;
           margin-left: 0;
    
        }
        &__item--active{
           margin-left: 0;
        }
        &__item--center{
            margin-top: 0;
            
        }

    }
}

