$primary-violet: #8D81AC;
$white: #FFFFFF;
$light-grey: #848E97;
$primary-grey: #635C73;
$accent-grey: #323232;
<<<<<<< HEAD
$fontMont: Montserrat;
$fontLato: Lato;
=======
>>>>>>> 90e5ee514b00c48fb77595b40a9dcb5e331abc3c
