@font-face{
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-Italic.woff2") format("woff2"), url("../fonts/Lato-Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-Light.woff2") format("woff2"), url("../fonts/Lato-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-BoldItalic.woff2") format("woff2"), url("../fonts/Lato-BoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-ThinItalic.woff2") format("woff2"), url("../fonts/Lato-ThinItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-LightItalic.woff2") format("woff2"), url("../fonts/Lato-LightItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-BoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-BoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-Thin.woff2") format("woff2"), url("../fonts/Lato-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face{
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-Italic.woff2") format("woff2"), url("../fonts/Montserrat-Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-LightItalic.woff2") format("woff2"), url("../fonts/Montserrat-LightItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face{
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-SemiBoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face{
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-ThinItalic.woff2") format("woff2"), url("../fonts/Montserrat-ThinItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
