@use "sass:math";
@import "fonts";
@import "mixins";
@import "variables";
@import "header";
@import "normalize";
@import "global";
@import "_rev_section.scss";
@import "_get_section.scss";
@import "peopleAreTalking";
@import "_pricing_section.scss";

